.box-first {
	color: #fff;
	background: url('../img/bgsm.jpg');
	min-height: 208px;
  	font-family: 'Arima Madurai';
}
.box-first h1 {
	font-weight: 200;
	font-size: 40px;
}
.box-first a {
	font-family: 'Nova Slim', cursive;
	font-size: 10px;
	line-height: 10px;
	background: #7b4156;
	border-radius: 2px;
	color: #d5d5d5;
	padding: 4px 10px;
	margin: 5px;
}
.box-first a:hover {
	text-decoration: none;
	background: #86475e;
	color: #d5d5d5;
}

.box-first h3 {
	font-weight: 200;
	margin-top: 50px;
	font-size: 18px;
	letter-spacing: 1.6px;
}
.box-code-first {
	font-family: 'Arima Madurai';
	padding-top: 100px;
}
.my-badge {
	background: #97b76c;
	border-radius: 2px;
	color: #fff;
	font-size: 8px;
	padding: 1px 3px;
	font-family: 'Ubuntu';
	margin-left: 3px;
	top: -5px;
	position: relative;
}
.box-left {
	border:1px solid #e5e5e5;
	border-radius: 2px;
	padding: 30px;
	background: #fff;
	height: 100%;
}
.box-img {
	margin-top: -40px;
}
.box-img-last {
	margin-bottom: 20px;
}
.box-left:before {
	content: "";
	display: block;
	background: #fff;
	width: 60px;
	height: 60px;
	position: relative;
	top: -60px;
	transform: rotate(45deg);
	left: -60px;
	/*border: 1px solid #e5e5e5;*/
	border-right: 1px solid #e5e5e5;
}
.box-left:after {
	content: "";
	display: block;
	background: #fff;
	border-radius:  10px 0 0 10px ;
	width: 120px;
	height: 9px;
	position: relative;
	top: 20px;
	right: calc(-100% + 89px);
	border: 1px solid #e5e5e5;
	border-right: 1px solid #fff;
}

.box-left-x:after {
	content: "";
	display: block;
	background: #f3f3f3;
	border-radius:  10px 0 0 10px ;
	width: 80px;
	height: 9px;
	position: relative;
	top: 15px;
	right: calc(-100% + 49px);
	border: 1px solid #e5e5e5;
	border-right: 1px solid #f3f3f3;
}

.box-left-y:after {
	content: "";
	display: block;
	background: #f3f3f3;
	border-radius:  10px 0 0 10px ;
	width: 40px;
	height: 9px;
	position: relative;
	top: 10px;
	right: calc(-100% + 9px);
	border: 1px solid #e5e5e5;
	border-right: 1px solid #f3f3f3;
}


.cont2 .box-left:before {
	background: #f3f3f3;
	border-left: 1px solid #f3f3f3;
}
.cont2 .box-left:after {
	background: #f3f3f3;
	border-right: 1px solid #f3f3f3;
}

.box-left-graf img {
	border:1px solid #e5e5e5;
	border-radius: 2px;
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.18);
	opacity: 0.8;
}
.box-left-graf img:hover {
	border:1px solid #e5e5e5;
	border-radius: 2px;
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.25);
	opacity: 1;
}
.box-img-graf:after {
	content: "click";
	text-align: center;
	display: block;
	font-size: 12px;
	line-height: 23px;
	background: #7b4156;
	color: #fff;
	width: 70px;
	height: 25px;
	position: relative;
	top: -63px;
	left: 0px;
	border: 1px solid #7b4156;

}
.box-leftd-graf:after {
	content: "";
	display: block;
	background: #fff;
	border-radius:  10px 0 0 10px ;
	width: 120px;
	height: 109px;
	position: relative;
	top: -20px;
	right: calc(-100% + 89px);
	border: 1px solid #e5e5e5;
	border-right: 1px solid #fff;
	background: #f3f3f3;
	border-right: 1px solid #f3f3f3;
}
.box-img-graf {
	/*margin-top: -40px;*/
}


.mb-30 {
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.pb-50 {
	padding-bottom: 80px;
}
.cont2 {
	background: #f3f3f3;
}


@media (min-width: 576px) {

}

@media (max-width: 576px) {
	.container {
	    width: 100%;
	    padding-right: 50px;
	    padding-left: 50px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.box-first h1 {
		font-weight: 200;
		font-size: 25px;
	}
}

@media (min-width: 768px) {
	.box-first {
		background: url('../img/bg.jpg');
		min-height: 400px;
	}
	.box-first h3 {
		margin-top: 140px;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  
}